:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg: #ffffff;
  --fg: #252525;
  --accent: #f5b111;
}

body {
  margin: 0;
  display: flex;
  background: var(--bg);
  color: var(--fg);
}
